{{! Partial: Post Flow }}

<section class="post-flow">
    <div class="post-flow-logo">
        {{#if @site.logo}}
            <a href="{{@site.url}}">
                <img src="{{@site.logo}}" alt="{{@site.title}}"/>
            </a>
        {{/if}}
    </div>
    <div class="post-flow-info wrapper">
        <div class="post-flow-current">{{t "Introduction"}}</div>
        <div class="post-flow-title">{{title}}</div>
        <div class="post-flow-readtime" data-percent="40">
            <div class="post-flow-readtime-progress">
                <div class="post-flow-readtime-progress-fill"></div>
            </div>
        </div>
    </div>
</section>
